/* expenses.css */

/* Ajuste de layout e espaçamento */
.container {
    margin-top: 30px;
}

h1 {
    margin-bottom: 30px;
    font-size: 2rem;
}

h3 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

/* Estilo para o formulário */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    border-radius: 5px;
}

/* Estilo para a lista de receitas/despesas */
.list-group {
    margin-top: 20px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    margin-bottom: 10px;
}

.list-group-item:nth-child(odd) {
    background-color: #e9ecef;
}

/* Estilo para o gráfico */
.canvas-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Botão de Adicionar */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}